<div class="contact-cta">
    <div class="contact-cta--content content-container">
        <div class='contact-cta--content--container'>
            <h3>Let's stay in touch</h3>
            <p>Sign up to stay in the loop on new colors, special blogs, events & a chance to win a free REECH mat!</p>
            <form>
                <input type="text" placeholder='Enter your email'>
                <button>Subscribe</button>
            </form>
        </div>
    </div>
</div>

<style>
    .contact-cta {
        background-image: url("{{ 'stay-in-touch.jpg' | file_url }}");
        background-size: cover;
        background-position: center center;
    }
</style>