<div class="full-page-modal flexible-cost-modal">
    <div class="full-page-modal--container">
        <div class='full-page-modal--container--content flexible-cost-modal-content'>
            {% include 'close-modal-btn' %}
            <div>
                {{ 'coin.png' | asset_url | img_tag }}
                <h2>Flexible costs</h2>
                <p>Accessibility an affordability aren't just words we throw around. We're serious about making high quality accessible.<br/><br/>As we grow as a brand — manufacturing and shipping costs will naturally lower. So as things become more affordable for us to make and ship, we'll make it more affordable for you by continuing to lower the price of our mats.</p>
            </div>
            <div class='bottom-bar'>
                <p>*2021 estimated REECH price - $79</p> 
            </div>

        </div>
        <button class='bttn close-modal-btn'>Close</button>
    </div>
</div>