<div class="footer-new">
    <div class="footer-new--content content-container row">
        <div class="footer-new--content--left row">
            <div class="footer-new--content--column">
                {{ 'logo.png' | file_url | img_tag }}
                <h5>Shop now</h5>
                <a href="#">FAQ's</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms & Conditions</a>
            </div>
            <div class="footer-new--content--column">
                <div>
                    <h5>Need help?</h5>
                    <p>Check out our <a class='colored' href="#">help center</a></p>
                    <p>Need further assistance?</p>
                    <a class='colored' href="#">hello@myreech.com</a>
                </div>
                <div>
                    <h5>Follow Us</h5>
                    <div class="row row__align-center">
                        <a href="#">
                            {{ 'insta_bw.png' | file_url | img_tag }}
                        </a>
                        <a href="#">
                            {{ 'fb_bw.png' | file_url | img_tag }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-new--content--right row">
            <div class="footer-new--content--column">
                <div>
                    <h5>Contact Us</h5>
                    <p>hello@myreech.com</p>
                </div>
                <div>
                    <h5>Press</h5>
                    <p>For press or media inquiries,</p>
                    <p>email press@myreech.com</p>
                </div>
            </div>
        </div>
    </div>
</div>