<div class="full-page-modal free-trial-modal">
    <div class="full-page-modal--container">
        <div class='full-page-modal--container--content free-trial-modal-content'>
            {% include 'close-modal-btn' %}
            {{ 'yoga.png' | file_url | img_tag: 'Yogi man', 'yogi-man' }}
            <h2>30 Day Trial</h2>
            <p>Practice on your new mat for 30 days. We think you're going to fall head over toes in love.</p>
            <p>In the case you don't for any reason at all, return it for a full refund, no questions asked.</p>
        </div>
        <button class='bttn close-modal-btn'>Close</button>
    </div>
</div>