<div class="full-page-modal how-we-operate-modal">
    <div class="full-page-modal--container">
        <div class='full-page-modal--container--content how-we-operate-modal-content'>
            {% include 'close-modal-btn' %}
            <div>
                {{ 'yoga-1.png' | file_url | img_tag }}
                <h2>For the people</h2>
                <p>We're the first direct to consumer yoga mat com,pany, delivering the best yoga mat on the market for the best price possible.</p>
            </div>
            <div>
                {{ 'heart.png' | file_url | img_tag }}
                <h2>For the planet</h2>
                <p>REECH is 100% biodegradable. Meaning if it ended up in a landfill, it would completely breakdown in 1-5 years.</p>
            </div>
            <div>
                {{ 'yoga-2.png' | file_url | img_tag }}
                <h2>For your practice</h2>
                <p>We promise this will be the best yoga mat you've ever practiced on. Take your practice to the next level with confidence & comfort.</p>
            </div>
            <div>
                {{ 'money.png' | file_url | img_tag }}
                <h2>For your wallet</h2>
                <p>We make minimal profit from every order so that we can make sure our mat isn;t out of reach.</p>
                <small>(pun intended)</small>
            </div>
            <div>
                <h2>& our future</h2>
                <p>Of the little rpofit that we make, we donate 20% of it back to our planet's biggest ecological and human crises.</p>
            </div>
        </div>
        <button class='bttn close-modal-btn'>Close</button>
    </div>
</div>