<div class="main-hero">
    <div class="main-hero--content page-width">
        <div class="main-hero--content--header">
            <h1>Innovating the $16B Yoga Industry</h1>
            <p>""The grippiest yoga mat I've ever practiced on" - Lisa Williams</p>
        </div>
        <button>Try now</button>
        <p>30 day trial period</p>
    </div>
</div>