<div class="main-hero">
    <div class="main-hero--content page-width">
        <div class="main-hero--content--header">
            <h1>Innovating the $16B Yoga Industry</h1>
            <p>""The grippiest yoga mat I've ever practiced on" - Lisa Williams</p>
            <div class="main-hero--content--header--cta-container">
                <button>Try now</button>
                <p>30 DAY TRIAL PERIOD</p>
            </div>
        </div>
        <div class="main-hero--content--image-placeholder"></div>
        <h2>A different yoga company</h2>
        <button>How we operate</button>
    </div>
</div>