<div class="main-hero">
    <div class="main-hero--content">
        <div class="main-hero--content--header">
            <h1>Innovating the $16B Yoga Industry</h1>
            <p>""The grippiest yoga mat I've ever practiced on" - Lisa Williams</p>
            <div class="main-hero--content--header--cta-container">
                <button class='bttn'>Try now</button>
                <p>30 DAY TRIAL PERIOD <span>i</span></p>
            </div>
        </div>
        {{ 'hero-img.png' | file_url | img_tag }}
        <h2>A different yoga company</h2>
        <button class='bttn how-we-operate-btn'>How we operate</button>
    </div>
</div>