<div class="navbar">
    <div class="navbar--content">
        <div class="navbar--content--middle">
            <div class='row row__align-center row__center'>
                <a href="#">shop now</a>
                <a href="#">
                    {{ 'logo.png' | file_url | img_tag }}
                </a>
                <a href="#">FAQ</a>
               </div>
        </div>
        <div class="navbar--content--right">
            <a href="#">{{ 'user.png' | file_url | img_tag }}</a>
            <div>
                <a href="#">{{ 'bag.png' | file_url | img_tag }}</a>
                <p>0</p>
            </div>
        </div>
    </div>
</div>