<div class="navbar">
    <div class="navbar--middle">
        <a href="#">shop now</a>
        <a href="#">
            {{ 'logo.png' | file_url | img_tag }}
        </a>
        <a href="#">FAQ</a>
    </div>
</div>