<div class="some-details">

    <div class="some-details--content content-container">

        <div class="some-details--content--detail">
            <h3>The best yoga mat delivered to you</h3>
            <p>We only deliver our mat directly to your door so that we never have to mark up our prices, allowing us to keep our prices as low as possible for the best mat on the market year round.</p>
            <button class='bttn sustainability-modal-btn'>Sustainability <span>i</span></button>
        </div>

        <div class='some-details--content--image some-details--content--image__center'>
            {% comment %} {{ '2.png' | file_url | img_tag }} {% endcomment %}
            {{ 'moving-box.gif' | asset_url | img_tag }}
        </div>

        <div class='some-details--content--image'>
            {% comment %} {{ '1.png' | file_url | img_tag }} {% endcomment %}
            {{ 'arm-extension.gif' | asset_url | img_tag }}
        </div>

        <div class="some-details--content--detail">
            <h3>Committed to you</h3>
            <p>We proudly produce the most expensive yoga mat in the work, make minimal profit from every order we receive to make it accessible, and share where every dollar you spend goes to.<br/><br/>If that's not committed to the people, we're not sure what is.</p>
            <button class='bttn flexible-cost-modal-btn'>Here's more! <span>i</span></button>
        </div>
    </div>    
</div>