<div class="full-page-modal sustainability-modal">
    <div class="full-page-modal--container">
        <div class='full-page-modal--container--content sustainability-modal-content'>
            {% include 'close-modal-btn' %}
            {{ 'logo.png' | file_url | img_tag }}
            <p>sustainability</p>
            <p>We use USPS for a majority of US orders. This helps reduce our carbon footprint by using the preexisting shipping routes your postman has, instead of taking a private drive</p>
        </div>
        <button class='bttn close-modal-btn'>Close</button>
    </div>
</div>