<div class="tag-us-section">
    {{ 'instagram.png' | file_url | img_tag }}
    <h3>tag us @myreech</h3>
    <p>for the people | with the people | we are the people</p>
    <div id="insta-feed"></div>
</div>