<div class="full-page-modal the-truth-modal">
    <div class="full-page-modal--container">
        <div class='full-page-modal--container--content the-truth-modal-content'>
            {% include 'close-modal-btn' %}
            <div>
                <h2>The yoga industry today</h2>
                <p>No yoga mat in the world costs more than $30 to manufacture & create. No matter how high quality it claims to be, no matter what it looks and feels like, or how biodegradable it is... it's an important fact the yoga industry doesn't talk about.</p>
            </div>
            <div class='bigger'>
                {{ 'honest.png' | asset_url | img_tag }}
                <h2>Honest pricing</h2>
                <p>To encourage more transparency in the high end yoga industry, we show you exactly where your money goes, and never charge you more than we need to.</p>

                <p>(we're dedicated to the people)</p>
            </div>  
        </div>
        <button class='bttn close-modal-btn'>Close</button>
    </div>
</div>