<div class="full-page-modal wholesale-modal">
    <div class="full-page-modal--container">
        <div class='full-page-modal--container--content wholesale-modal-content dark'>
            {{ 'close-white.png' | asset_url | img_tag: 'Close btn', 'close-btn close-modal-btn' }}
            <h2>We're re-inventing wholesale</h2>
            <p>If we were to wholesale our yoga mats for yoga studios to sell, we would need to permanently mark up the price of our mat high enough so that the yoga studio and ourselves can be profitable.<br/><br/>This conflicted with our mission of providing the best mat on the market for the best price possible to the people.<br/><br/>So we opted out of traditional wholesale and are taking advantage of the internet by being the first direct to consumer yoga mat company in the world making minimal profit from every order.<br/><br/>We didn't feel happy about not being able to work with studio owners though, so we've reinvented wholesale... </p>
            <div>
                <p>Are you a yoga studio owner?</p>
            </div>
            {{ 'reech-retailer.png' | asset_url | img_tag }}
            <p>If you are, then this applies to you.<br/><br/>We couldn't imagine how we would be a happy yoga company knowing we weren't serving yoga studios with our business model.<br/><br/><span>"Yoga studio owners are the foundation and backbone of the global yoga movement."</span><br/><br/>So we invented an innovative wholesale solution that will allow us to work alongside each other in a mutually benefiting way that doesn't compromise our prices and mission.<br/><br/>Together, we're going to change the yoga industry. </p>
            <div>
                <p>Available April 30th</p>
            </div>
            <p class="small">email wholesale@myreech.com to be placed on a waiting list</p>
        </div>
        <button class='bttn close-modal-btn'>Close</button>
    </div>
</div>