.navbar {
  position: absolute;
  width: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
  .navbar--content {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 200px auto 200px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .navbar--content--middle {
      grid-column-start: 2; }
      .navbar--content--middle a {
        width: 100px;
        text-decoration: none;
        font-weight: 600;
        color: inherit; }
        .navbar--content--middle a:first-child {
          margin-right: 100px; }
        .navbar--content--middle a:nth-child(2) {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
        .navbar--content--middle a:last-child {
          margin-left: 100px; }
    .navbar--content--right {
      text-align: right; }
      .navbar--content--right a:first-child img {
        height: 30px;
        margin-right: 10px; }
      .navbar--content--right a:last-child img {
        height: 35px; }
      .navbar--content--right div {
        position: relative;
        display: inline-block; }
        .navbar--content--right div p {
          position: absolute;
          top: 50%;
          left: 34%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          font-weight: 600;
          font-size: 12px; }

.mobile-navbar {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  background: white;
  z-index: 2; }
  .mobile-navbar--content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 25px; }
    .mobile-navbar--content img:nth-child(1) {
      cursor: pointer; }
    .mobile-navbar--content img:nth-child(2) {
      justify-self: center;
      height: 20px; }

.hamburger-menu-contents {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: #FFFBF6;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #222; }
  .hamburger-menu-contents .close-hamburger-menu-btn {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 20px;
    cursor: pointer; }
  .hamburger-menu-contents.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .hamburger-menu-contents a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 10px; }
    .hamburger-menu-contents a img {
      height: 30px;
      margin-bottom: 30px; }

.main-hero {
  background: -webkit-gradient(linear, left top, left bottom, from(#FEEBDC), color-stop(#FEEBDC), to(white));
  background: linear-gradient(to bottom, #FEEBDC, #FEEBDC, white);
  padding: 80px 0;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); }
  .main-hero--content {
    padding-top: 10vh; }
    .main-hero--content--header {
      text-align: center; }
      .main-hero--content--header > h1 {
        margin: 0 auto;
        width: 650px;
        font-size: 60px;
        margin-bottom: 10px;
        line-height: 73px; }
      .main-hero--content--header > p {
        margin: 0 auto;
        width: 490px;
        font-size: 29px;
        line-height: 35px;
        font-weight: 500;
        margin-bottom: 50px; }
      .main-hero--content--header--cta-container button {
        background: white;
        border: 4px solid black;
        font-size: 29px;
        font-weight: 600;
        width: 300px;
        height: 80px;
        margin-bottom: 20px; }
      .main-hero--content--header--cta-container p {
        font-weight: 600;
        font-size: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .main-hero--content--header--cta-container p span {
          font-size: 12px;
          background: white;
          border-radius: 50%;
          height: 20px;
          width: 20px;
          border: 1px solid #474747;
          margin-left: 5px;
          cursor: pointer; }
    .main-hero--content > img {
      margin: 50px 0;
      position: relative;
      width: 800px;
      left: 51%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
    .main-hero--content > h2 {
      font-size: 44px;
      text-align: center;
      position: relative;
      margin-bottom: 70px; }
      .main-hero--content > h2:after {
        content: '';
        width: 1.5px;
        height: 50px;
        background: #e2e2e2;
        position: absolute;
        left: 50%;
        top: 60px; }
    .main-hero--content > button {
      text-align: center;
      margin: 0 auto;
      border-width: 2px;
      font-weight: 500;
      font-size: 20px;
      position: relative;
      left: 50%;
      -webkit-transform: translate(-50%);
      transform: translate(-50%);
      width: 270px;
      height: 67px; }

.some-details {
  padding: 80px 0;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); }
  .some-details--content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 100px;
    -webkit-column-gap: 100px;
    -moz-column-gap: 100px;
    column-gap: 100px; }
    .some-details--content--detail h3 {
      font-size: 68px; }
    .some-details--content--detail p {
      font-size: 26px;
      font-weight: 500; }
    .some-details--content--detail button {
      padding: 6px 12px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-weight: 500; }
    .some-details--content--image img {
      -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1); }
    .some-details--content--image__center {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }

.transparency-section {
  padding: 80px 0;
  background: #FFFBF6; }
  .transparency-section--header {
    text-align: center; }
    .transparency-section--header h2 {
      font-size: 68px;
      font-weight: 800; }
    .transparency-section--header p {
      font-weight: 500;
      width: 570px;
      font-size: 20px;
      margin: 0 auto; }
  .transparency-section--carousel {
    text-align: center;
    margin: 30px 0 100px 0;
    padding: 0 50px; }
    .transparency-section--carousel > p {
      font-size: 20px;
      margin: 0;
      color: #a7a7a7; }
      .transparency-section--carousel > p img {
        margin-left: 15px; }
    .transparency-section--carousel--items {
      margin-top: 20px; }
      .transparency-section--carousel--items--item {
        width: 350px;
        background: white;
        padding: 20px 40px;
        border: 2px solid black;
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        margin-right: 40px;
        position: relative; }
        .transparency-section--carousel--items--item:after {
          content: '';
          position: absolute;
          height: 150px;
          top: 40px;
          right: -23px;
          width: 1px;
          background: #ddd; }
        .transparency-section--carousel--items--item--img {
          height: 100px;
          margin-top: -20px; }
        .transparency-section--carousel--items--item--title {
          font-size: 30px;
          line-height: 30px;
          font-weight: 600;
          margin: 0; }
        .transparency-section--carousel--items--item--price {
          font-size: 18px;
          font-weight: 500;
          color: #ccc;
          margin: 8px 0 5px 0; }
        .transparency-section--carousel--items--item--desc {
          color: #222222;
          font-size: 16px;
          line-height: 22px;
          font-weight: 500; }
        .transparency-section--carousel--items--item--shipping {
          color: #929292;
          font-size: 14px; }
        .transparency-section--carousel--items--item--plastic {
          color: #929292; }
          .transparency-section--carousel--items--item--plastic img {
            margin-right: 10px; }
        .transparency-section--carousel--items--item button {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin: 0 auto; }
        .transparency-section--carousel--items--item:last-child {
          text-align: left; }
          .transparency-section--carousel--items--item:last-child h4 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-bottom: 10px; }
            .transparency-section--carousel--items--item:last-child h4 span {
              margin-left: 20px;
              color: #ccc;
              font-size: 20px; }
          .transparency-section--carousel--items--item:last-child button {
            margin: 0; }
  .transparency-section--pinky-promise {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .transparency-section--pinky-promise > h2 {
      font-size: 68px;
      font-weight: 700;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative; }
      .transparency-section--pinky-promise > h2 img {
        position: absolute;
        right: -115px; }
    .transparency-section--pinky-promise > p {
      font-size: 20px;
      width: 550px; }
    .transparency-section--pinky-promise .stars-container img {
      margin-top: -20px; }
    .transparency-section--pinky-promise .stars-container p {
      font-weight: 700;
      color: #222;
      opacity: .8;
      font-size: 24px;
      margin-top: -20px;
      letter-spacing: 1px; }
    .transparency-section--pinky-promise > button {
      margin-top: 30px;
      width: 230px;
      height: 50px;
      font-weight: 600; }

.tag-us-section {
  padding: 40px 0;
  padding-bottom: 0;
  text-align: center; }
  .tag-us-section > h3 {
    margin-top: 10px;
    font-size: 44px; }
  .tag-us-section > p {
    letter-spacing: 6px; }
  .tag-us-section--images {
    height: 450px;
    width: 95%;
    margin: 0 auto;
    background: gray; }

.contact-cta {
  height: 470px;
  position: relative;
  background: #f49ca5;
  background-color: linear-gradient(#e0858d, #f49ca5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .contact-cta--content {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .contact-cta--content--container {
      width: 600px;
      text-align: right;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      .contact-cta--content--container h3 {
        font-size: 60px;
        color: white; }
      .contact-cta--content--container p {
        font-size: 20px;
        font-weight: 500;
        width: 550px; }
      .contact-cta--content--container form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        border: 4px solid black; }
        .contact-cta--content--container form input {
          margin: 0;
          background: white;
          border-right: 4px solid black;
          padding: 14px 22px; }
        .contact-cta--content--container form button {
          border: none;
          background: white;
          width: 220px;
          font-weight: 600; }

.footer-new {
  background-color: #FFFBF6;
  padding: 60px 0; }
  .footer-new--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .footer-new--content--left > div:nth-child(1) {
      margin-right: 300px; }
    .footer-new--content--right {
      text-align: right; }
    .footer-new--content--column > div:first-child {
      margin-bottom: 10px; }
    .footer-new--content--column > img {
      margin-bottom: 10px; }
    .footer-new--content--column h5 {
      font-size: 30px;
      font-weight: 600;
      margin: 0;
      margin-bottom: 5px; }
    .footer-new--content--column p, .footer-new--content--column a {
      display: block;
      font-weight: 500;
      letter-spacing: .5px;
      margin: 0;
      margin-bottom: 3px;
      text-decoration: none;
      color: inherit;
      font-size: 16px; }
      .footer-new--content--column p.colored, .footer-new--content--column a.colored {
        color: #9481EB;
        display: inline-block; }
    .footer-new--content--column .row img {
      width: 85%; }

.full-page-modal {
  position: fixed;
  top: 0;
  min-height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.95);
  display: none;
  z-index: 1;
  overflow: auto; }
  .full-page-modal__active {
    display: block; }
  .full-page-modal .close-btn {
    position: absolute;
    left: 30px;
    top: 30px; }
  .full-page-modal--container {
    position: absolute;
    top: 10%;
    padding-bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .full-page-modal--container--content {
      border: 2px solid black;
      border-radius: 15px;
      text-align: center;
      padding-bottom: 50px;
      background: white;
      width: 500px;
      padding: 30px 60px;
      overflow: hidden; }
      .full-page-modal--container--content.dark {
        background: #262626;
        color: white; }
      .full-page-modal--container--content h2 {
        font-size: 28px;
        color: inherit; }
      .full-page-modal--container--content p {
        font-size: 16px;
        font-weight: 500; }
      .full-page-modal--container--content .charity-img {
        margin-bottom: -10px; }
      .full-page-modal--container--content .bigger {
        padding: 0;
        background-color: #FFFBF6;
        border: 2px solid black;
        border-radius: 15px;
        width: 102%;
        margin-left: -1%;
        margin-bottom: -2px; }
      .full-page-modal--container--content.how-we-operate-modal-content {
        padding: 0; }
        .full-page-modal--container--content.how-we-operate-modal-content div {
          padding: 30px 60px; }
      .full-page-modal--container--content.sustainability-modal-content {
        padding: 0; }
        .full-page-modal--container--content.sustainability-modal-content div {
          padding: 30px 60px; }
          .full-page-modal--container--content.sustainability-modal-content div header {
            margin: 40px 20px; }
            .full-page-modal--container--content.sustainability-modal-content div header small {
              display: block;
              font-weight: 600;
              letter-spacing: 1px; }
          .full-page-modal--container--content.sustainability-modal-content div ul {
            list-style-type: none; }
            .full-page-modal--container--content.sustainability-modal-content div ul li {
              display: grid;
              grid-template-columns: 20px auto;
              -webkit-column-gap: 10px;
              -moz-column-gap: 10px;
              column-gap: 10px;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: start;
              -ms-flex-pack: start;
              justify-content: flex-start;
              opacity: .6; }
        .full-page-modal--container--content.sustainability-modal-content .bigger {
          padding: 0; }
          .full-page-modal--container--content.sustainability-modal-content .bigger div {
            padding: 0 60px;
            padding-bottom: 30px; }
      .full-page-modal--container--content.the-truth-modal-content {
        padding: 0; }
        .full-page-modal--container--content.the-truth-modal-content div {
          padding: 30px 60px; }
          .full-page-modal--container--content.the-truth-modal-content div:not(.bigger) h2 {
            width: 215px;
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 20px; }
        .full-page-modal--container--content.the-truth-modal-content .bigger p:last-child {
          font-size: 14px; }
      .full-page-modal--container--content.flexible-cost-modal-content {
        padding: 0; }
        .full-page-modal--container--content.flexible-cost-modal-content div {
          padding: 30px 60px; }
        .full-page-modal--container--content.flexible-cost-modal-content .bottom-bar {
          background: #FFFBF6;
          border-top: 2px solid black;
          padding: 15px;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px; }
          .full-page-modal--container--content.flexible-cost-modal-content .bottom-bar p {
            opacity: .6; }
      .full-page-modal--container--content.wholesale-modal-content > div {
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        padding: 20px 0;
        margin: 20px 0 40px 0; }
      .full-page-modal--container--content.wholesale-modal-content p span {
        font-weight: 400;
        font-style: italic; }
      .full-page-modal--container--content.wholesale-modal-content .small {
        font-size: 12px;
        color: gray; }
      .full-page-modal--container--content.impact-modal-content {
        padding: 0; }
        .full-page-modal--container--content.impact-modal-content div {
          padding: 30px 60px; }
        .full-page-modal--container--content.impact-modal-content .reech-impact {
          margin-bottom: 10px; }
        .full-page-modal--container--content.impact-modal-content small {
          opacity: .8; }
    .full-page-modal--container button {
      margin: 0 auto;
      margin-top: 40px;
      font-weight: 500;
      padding: 5px 15px; }

.product-section {
  padding-top: 200px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .product-section--images {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center; }
  .product-section--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .product-section--right--header {
      margin-bottom: 10px; }
      .product-section--right--header img {
        height: 40px;
        margin-bottom: 10px; }
      .product-section--right--header p {
        font-size: 14px;
        letter-spacing: 4px;
        font-weight: 800; }
    .product-section--right--stars {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .product-section--right--stars img {
        height: 45px; }
      .product-section--right--stars p {
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 1px; }
    .product-section--right--price p {
      font-size: 40px;
      font-weight: 800; }
    .product-section--right--afterpay p {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 16px; }
      .product-section--right--afterpay p img {
        height: 28px; }
    .product-section--right--color p {
      font-size: 15px;
      color: #5a5a5a;
      font-weight: 700;
      letter-spacing: 1px; }
    .product-section--right--color--choices {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap; }
      .product-section--right--color--choices .color {
        margin: 0 8px;
        height: 40px;
        width: 40px;
        border-radius: 50%; }
        .product-section--right--color--choices .color.Black {
          background-color: black; }
        .product-section--right--color--choices .color.Blue {
          background-color: #5FA2FF; }
        .product-section--right--color--choices .color.Green {
          background-color: #32CE74; }
        .product-section--right--color--choices .color.Purple {
          background-color: #642C66; }
        .product-section--right--color--choices .color.selected {
          border: 1px solid red; }
