<div class="top_page_banner_img_holder"></div>

{% section 'hero-1' %}
{% section 'feature-row-1' %}
{% section 'hero-2' %}
{% section 'hero-3' %}
{% section 'hero-4' %}
{% section 'hero-5' %}
{% section 'hero-6' %}
{% section 'hero-7' %}
{% section 'hero-8' %}
{% section 'hero-9' %}
{% section 'hero-10' %}

<div class="page-width" style="display:none;">
  <header class="section-header text-center" >
    <h1 class="section-header__title h2">{{ page.title }}</h1>
  </header>
  <div class="grid">
    <div class="grid__item medium-up--four-fifths medium-up--push-one-tenth">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
<div class="bottom_page_banner_img_holder"></div>

 {% section 'image-bg-video' %}


